/* **************************************
Variables
************************************** */
:root {
  --green: rgba(0, 255, 0, 1);
  --red: rgba(255, 0, 0, 1);
  --yellow: rgba(255, 215, 0, 1);
}

/* **************************************
Layout
************************************** */
body {
  background-color: #151515;
  color: white;
  font-family: Star Wars Light;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

#header {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid #555;
  margin-bottom: 15px;
}

#github {
  width: 30px;
  float: right;
}

#github:hover {
  background: var(--yellow);
  border-radius: 50%;
}

/* **************************************
Fonts
************************************** */
@font-face {
  font-family: Death Star;
  src: url("./font/Death\ Star.otf") format("opentype");
}
@font-face {
  font-family: Star Wars;
  src: url("./font/Star\ Wars.woff") format("woff");
}
@font-face {
  font-family: Star Wars Light;
  src: url("./font/Star\ Wars\ Light.woff") format("woff");
}

h1 {
  font-family: Death Star;
  letter-spacing: 2px;
  text-align: center;
}

/* **************************************
Buttons
************************************** */
.buttons {
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-family: Death Star;
  letter-spacing: 2px;
}

.buttons img {
  width: 90px;
}

.buttons img:hover {
  border: 2px solid var(--yellow);
}

.rpsBtn {
  cursor: pointer;
  flex: 1 1 auto;
  text-align: center;
  margin: 0 auto;
}

.disableBtn {
  filter: blur(3px);
  cursor: not-allowed;
}

.buttons img,
.move img:not(.spinner) {
  border: 2px solid white;
  border-radius: 50%;
}

/* **************************************
Results
************************************** */
.resultsDisplay {
  display: flex;
  flex-direction: row;
}

.result {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  text-align: center;
  margin: 15px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "name name name name" "left left right right";
}

.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
.name {
  grid-area: name;
}

.level p {
  margin: 0;
}
.levelNo {
  font-family: Death Star;
  font-size: 20px;
  margin: 0;
}

.result h3 {
  font-family: Star Wars;
}

h3 #p1Name {
  cursor: pointer;
  color: blue;
}

#vs {
  margin: auto 0;
}

.player {
  border-left: 2px solid var(--green);
  border-right: 2px solid var(--green);
}

.oppo {
  border-left: 2px solid var(--red);
  border-right: 2px solid var(--red);
}

.move img {
  width: 45px;
}

.spinner {
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* **************************************
Feedback
************************************** */

#feedback {
  height: 50px;
  margin: 0 auto;
  font-family: Death Star;
  letter-spacing: 2px;
  text-align: center;
  font-size: 30px;
}

#feedback button {
  background: var(--yellow);
  border: 2px solid white;
  border-radius: 6px;
  /* color: white; */
  font-size: 30px;
  cursor: pointer;
}

.pulse {
  /* border-radius: 50%; */
  background: #cca92c;
  box-shadow: 0 0 0 var(--yellow);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--yellow);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 var(--yellow);
    box-shadow: 0 0 0 0 var(--yellow);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

/* **************************************
BattleLog
************************************** */
.striped {
  background-image: url("../img/stripes.png");
  background-size: 10px;
  background-repeat: repeat-x;
  background-color: #1a1a1a;
  background-position: top left;
}

#BattleLog {
  margin: 15px;
  display: flex;
  height: 200px;
  overflow: auto;
  border-radius: 6px;
  border-left: 2px solid var(--yellow);
  border-right: 2px solid var(--yellow);
}

#BattleLog h2 {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 36px;
  padding: 0;
  margin: 4px 0 0 0;
}

.battleItem {
  list-style: none;
  width: 100%;
}

.battleLog-result {
  font-family: Death Star;
}

/* **************************************
LightSabers
************************************** */

.lightsaber label {
  display: block;
  background: silver;
  width: 50px;
  height: 10px;
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.lightsaber .switch {
  position: relative;
  top: 0;
  left: 10px;
  width: 10px;
  height: 3px;
  background: green;
}

.lightsaber:hover > .switch {
  background: red;
}

.lightsaber input {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.lightsaber input:checked ~ .plasma {
  width: 285px;
}

.lightsaber .plasma {
  z-index: 0;
  transition: width 300ms;
  position: relative;
  bottom: 15px;
  left: 50px;
  width: 0px;
  height: 15px;
  background: white;
  filter: blur(1px);
  border-radius: 10px;
}

.lightsaber--Victory .plasma {
  background: linear-gradient(
    to top,
    var(--green) 0%,
    rgba(254, 254, 254, 1) 30%,
    rgba(254, 254, 254, 1) 50%,
    rgba(254, 254, 254, 1) 70%,
    var(--green) 100%
  );
}
.lightsaber--Defeat .plasma {
  background: linear-gradient(
    to top,
    var(--red) 0%,
    rgba(254, 254, 254, 1) 30%,
    rgba(254, 254, 254, 1) 50%,
    rgba(254, 254, 254, 1) 70%,
    var(--red) 100%
  );
}
.lightsaber--Draw .plasma {
  background: linear-gradient(
    to top,
    var(--yellow) 0%,
    rgba(254, 254, 254, 1) 30%,
    rgba(254, 254, 254, 1) 50%,
    rgba(254, 254, 254, 1) 70%,
    var(--yellow) 100%
  );
}

/* **************************************
Scrollbar
************************************** */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* **************************************
Background
************************************** */
.background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.leftImage {
  background: url(../img/bg-L.jpg) no-repeat 0 0;
}

.rightImage {
  background: url(../img/bg-r.jpg) no-repeat 100% 0;
}
